.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 40px;
    margin-top: 20px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}